
/*<meta />*/

@font-face 
{
	font-family: 'Roboto Regular';
	src: url(../Fonts/Roboto-Regular.ttf);
}

:root
{
    --tonk-primary-purple: #4640C0; /*Purple*/
    --tonk-secondary-purple: #605CE4; /*Lighter Purple*/
}

body
{
    font-family: 'Roboto Regular', Arial;
	font-size: 1rem;
}

/*Home page*/
.site-sidebar 
{
    background-color: var(--tonk-secondary-purple);
}
